.App {
  text-align: center;
}

form{
  display: inline-block;
  background-color: deepskyblue;
}
form label{
  display: inline-block;
  width: 100px;
}
form div{
  margin: 10px;
}
.innerLabel{
  width: auto;

}
